<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div class="footer" th:fragment="footer">


  <!-- Footer Section Begin -->
  <footer class="footer-section">
    <div class="container">
      <div class="partner-logo owl-carousel">
        <a th:href="@{/#}" class="pl-table">
          <div class="pl-tablecell">
            <img th:src="@{img/partner-logo/logo-1.png}" alt="">
          </div>
        </a>
        <a th:href="@{/#}" class="pl-table">
          <div class="pl-tablecell">
            <img th:src="@{img/partner-logo/logo-2.png}" alt="">
          </div>
        </a>
        <a th:href="@{/#}" class="pl-table">
          <div class="pl-tablecell">
            <img th:src="@{img/partner-logo/logo-3.png}" alt="">
          </div>
        </a>
        <a th:href="@{/#}" class="pl-table">
          <div class="pl-tablecell">
            <img th:src="@{img/partner-logo/logo-4.png}" alt="">
          </div>
        </a>
        <a th:href="@{/#}" class="pl-table">
          <div class="pl-tablecell">
            <img th:src="@{img/partner-logo/logo-5.png}" alt="">
          </div>
        </a>
        <a th:href="@{/#}" class="pl-table">
          <div class="pl-tablecell">
            <img th:src="@{img/partner-logo/logo-6.png}" alt="">
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-text">
            <div class="ft-logo">
              <a th:href="@{/#}" class="footer-logo"><img th:src="@{img/footer-logo.png}" alt=""></a>
            </div>
            <ul>
              <li><a th:href="@{/#}">Home</a></li>
              <li><a th:href="@{/#}">Speakers</a></li>
              <li><a th:href="@{/#}">Schedule</a></li>
              <li><a th:href="@{/#}">Blog</a></li>
              <li><a th:href="@{/#}">Contact</a></li>
            </ul>
            <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a th:href="@{/https://colorlib.com}" target="_blank">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
            <div class="ft-social">
              <a th:href="@{/#}"><i class="fa fa-facebook"></i></a>
              <a th:href="@{/#}"><i class="fa fa-twitter"></i></a>
              <a th:href="@{/#}"><i class="fa fa-linkedin"></i></a>
              <a th:href="@{/#}"><i class="fa fa-instagram"></i></a>
              <a th:href="@{/#}"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer Section End -->


</div>
</html>